<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'createView' %}">CreateView</a>
    {% for item in object_list %}
    <div class="div">
        <p>{{ item.task }}</p>
        <p>{{ item.data }}</p>
        <p>{{ item.status }}</p>
        <p>{{ item.pk }}</p>
    </div>
    <div>
        <a href="{% url 'detail' item.pk %}">detail</a>
        <a href="{% url 'updateView' item.pk %}">update</a>
                <a href="{% url 'DeleteView' item.pk %}">delete</a>
    </div>
    {% endfor %}
    <p>{{ text }}</p>
</body>
</html>